.right-icons .icons{
  font-size: 25px;
  color: rgb(92, 89, 89);
}

.left-icons > .icon{
  font-size: 50px;
  color: rgb(33, 101, 156);
}

.search{
  display: "flex";
  align-items: center;
  width: 20vw;
  background-color: rgb(226, 239, 248);
  border-radius: 5px;
}

.search .icon{
  padding-right: 10px;
  font-size: 25px;
  color: grey;
}

.search input{
  height: 35px;
  outline: none;
  border: none;
  flex: 1;
  background-color: rgb(226, 239, 248);

}

.recent-activity div{
  font-size: 13px;
  width: 100%;
  font-weight: 700;
  color: grey;
  padding: 5px 0;
}

.recent-activity div:hover{
  background-color: rgb(221, 217, 217);
  color : rgb(158, 175, 195);
}